<!DOCTYPE html>
<html {% if currentpage.language %}lang="{{currentpage.language}}"{% else %}lang="en"{% endif %}>
<head>
    <meta charset="utf-8">
    <title>{{ currentpage.name }} - {{ target.display_name }}</title>
    <link rel="stylesheet" href="template_assets/dactyl-toc.css" type="text/css" />
    {% include 'filter-css-includes.html' %}
</head>
<body>
    <aside class="dactyl-sidebar">
        <h4>Contents</h4>
        <ul class="dactyl-page-toc">
            {{ sidebar_content }}
        </ul>
    </aside>
    <main class="dactyl-main">{{content}}</main>
    <footer>(Exported {{ current_time }})</footer>
</body>
</html>
