/* Stand-alone CSS for use with the buttonize filter. Skip if you use
   Bootstrap. */
a.btn-primary {
  color: white;
  background: #0000EE;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
}
