@media print {
    .dactyl-pdf-cover {
        page-break-after: always;
    }
    .dactyl-pdf-toc {
        page-break-after: always;
    }
    .dactyl-pdf-cover .dactyl-pdf-title-area {
        position: absolute;
        top: 26%;
        left: 8%;
        font-size: 60px;
        max-width: 650px;
    }
    .dactyl-pdf-cover h1,
    .dactyl-pdf-cover h2,
    .dactyl-pdf-cover h3 {
        padding: 0;
        margin: 10px 0 0 0;
    }

    @page {
      @bottom-left {
        content: flow(footer);
      }

      @bottom-right {
        content: counter(page);
        font-size: 10px;
      }
    }

    footer {
      flow: static(footer);
      font-size: 10px;
    }
}
